/*define the widths of divs*/
.container {
  margin: auto auto auto auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 160%;
}

h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  margin-top: 10px;
  height: 50px;
  width: 50px;
}

.chooseShopHeader {
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkboxes {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

ul:hover {
  cursor: pointer;
}

li {
  margin-top: 5px;
}

.item {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}

.saveOrderBtn {
  position: fixed;
  top: 0px;
  right: 0px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 29;
  -moz-border-radius: 29;
  border-radius: 29px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 5px 20px 6px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#loading {
  position: fixed;
  width: 95%;
  height: 100%;
  background: url('loading.gif') no-repeat center center;
}

table, th, td {
    border: 1px solid black;
}

#print {
  font-size: 10px;
}

#printButton {
  text-align: center;
}

.center {
  text-align: center;
}

@media print {
  .no-print {
    display: none;
  }

  @page {
    size: landscape
  }
}
