#loading {
  position: fixed;
  width: 95%;
  height: 100%;
  background: url('loading.gif') no-repeat center center;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-family: 'Lora', serif;
}

table, th, td {
    border: 1px solid black;
}

@media screen {
  .print {
    display: none;
    font-size: 5pt;
  }
}

@media print {
  .no-print {
    display: none;
  }

  @page {
    size: landscape
  }
}
