#loading {
  position: fixed;
  width: 95%;
  height: 100%;
  background: url('loading.gif') no-repeat center center;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-family: 'Lora', serif;
}

/*.print {
  display: none;
}*/
