<!DOCTYPE html>
<html ng-app="checklist">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fruit World Checklist</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link href="css/style.css" rel="stylesheet">
    <script src="bower_components\jquery-2.1.4.min\jquery-2.1.4.min.js"></script>
    <script src="https://www.parsecdn.com/js/parse-1.5.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/model.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="appCtrl as app">
    <h1>Fruit World Checklist</h1>
    <button ng-click="app.changeView()">{{app.viewOrder.id}}</button>
    <div ng-show="app.viewOrder.bool">
      <nav>
        <ul>
          <li>
            <span ng-click="app.showList()">Select branch</span>
            <ul class="shopList" ng-show="app.viewList">
              <li ng-repeat="shop in app.shops" ng-click="app.listClick(shop)">{{shop.name}}</li>
            </ul>
          </li>
        </ul>
      </nav>
      <div>
        <form class="form">
          <h2>Selected Branch</h2>
        </p>{{app.selectedBranch.name}}</p>
          <span ng-repeat="item in app.items">
            {{item.code}}:
            <input type="number" value="0">
            <br>
          </span>
          <button ng-click="app.saveOrder()">Submit</submit>
        </form>
      </div>
    </div>
    <div ng-show="!app.viewOrder.bool">
      <h3>Choose the shops to print</h3>
      <div ng-repeat="shop in app.shops">
        <input type="checkbox" value="true">{{shop.name}}<br>
      </div>
      <button ng-click="app.printPreview()">Submit</button>
    </div>
  </body>
</html>
